.map-container {
    height: 100%;
    position: relative;
    z-index: 1;
    left: 0px;
    transition: all 0.5s ease;
}

.overlay-drag-info {
    position: absolute;
    top: 110px;
    left: 110px;
    width: auto;
    z-index: 500;
}

#windy {
    width: 100%;
    height: calc(100vh - 70px);
}

.overlay-search {
    position: absolute;
    top: 0px;
    left: 90px;
    width: 610px;
    z-index: 1;
}

.overlay-btn-draw {
    position: absolute;
    top: 90px;
    right: 22px;
    text-shadow: 0 0 4px black;
    background-color: rgba(68, 65, 65, 0.84);
    transform: scale(.6, .6);
    border-radius: 34px;
    transform-origin: right;
    z-index: 6;
}

.overlay-btn-amphore {
    position: absolute;
    top: 125px;
    right: 22px;
    text-shadow: 0 0 4px black;
    background-color: rgba(68, 65, 65, 0.84);
    transform: scale(.6, .6);
    border-radius: 34px;
    transform-origin: right;
    z-index: 6;
}

.overlay-btn-tambol {
    position: absolute;
    top: 160px;
    right: 22px;
    text-shadow: 0 0 4px black;
    background-color: rgba(68, 65, 65, 0.84);
    transform: scale(.6, .6);
    border-radius: 34px;
    transform-origin: right;
    z-index: 6;
}