<main>
    <div class="container-fluid site-width">
        <!-- START: Card Data-->
        <div class="row row-cols-5">
            <div class="col-12 col-sm-6 col-xl-4 mt-3">
                <div class="card">
                    <div class="card-body p-0">
                        <div class='p-4 align-self-center'>
                            <h2>22,390</h2>
                            <h6 class="card-liner-subtitle">Total Visits</h6>
                        </div>
                        <div class="barfiller" id="barfiller1" data-color="#1e3d73">
                            <div class="tipWrap">
                                <span class="tip rounded primary">
                              <span class="tip-arrow"></span>
                                </span>
                            </div>
                            <span class="fill" data-percentage="80"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mt-3">
                <div class="card">
                    <div class="card-body p-0">
                        <div class='p-4 align-self-center'>
                            <h2>54,768</h2>
                            <h6 class="card-liner-subtitle">Total Sessions</h6>
                        </div>
                        <div class="barfiller" id="barfiller2" data-color="#17a2b8">
                            <div class="tipWrap">
                                <span class="tip rounded info">
                              <span class="tip-arrow"></span>
                                </span>
                            </div>
                            <span class="fill" data-percentage="92"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-xl-4 mt-3">
                <div class="card">
                    <div class="card-body p-0">
                        <div class='p-4 align-self-center'>
                            <h2>4,236</h2>
                            <h6 class="card-liner-subtitle">Page Views</h6>
                        </div>
                        <div class="barfiller" id="barfiller3" data-color="#1ee0ac">
                            <div class="tipWrap">
                                <span class="tip rounded success">
                              <span class="tip-arrow"></span>
                                </span>
                            </div>
                            <span class="fill" data-percentage="67"></span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-12  col-md-6 col-lg-3 mt-3">
                <div class="card border-bottom-0">
                    <div class="card-content border-bottom border-primary border-w-5">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="circle-50 outline-badge-primary"> <span class="cf card-liner-icon cf-ltc mt-2"></span></div>
                                <div class="media-body align-self-center pl-3">
                                    <span class="mb-0 h6 font-w-600">Litecoin</span><br>
                                    <p class="mb-0 font-w-500 h6">$47.05</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-lg-3 mt-3">
                <div class="card border-bottom-0">
                    <div class="card-content border-bottom border-warning border-w-5">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="circle-50 outline-badge-warning"> <span class="cf card-liner-icon cf-xlm mt-2"></span></div>
                                <div class="media-body align-self-center pl-3">
                                    <span class="mb-0 h6 font-w-600">Stellar</span><br>
                                    <p class="mb-0 font-w-500 h6">$17.99805</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-lg-3 mt-3">
                <div class="card border-bottom-0">
                    <div class="card-content border-bottom border-success border-w-5">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="circle-50 outline-badge-success"> <span class="cf card-liner-icon cf-link mt-2"></span></div>
                                <div class="media-body align-self-center pl-3">
                                    <span class="mb-0 h6 font-w-600">Chainlink</span><br>
                                    <p class="mb-0 font-w-500 h6">$52.09805</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12  col-md-6 col-lg-3 mt-3">
                <div class="card border-bottom-0">
                    <div class="card-content border-bottom border-info border-w-5">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="circle-50 outline-badge-info"> <span class="cf card-liner-icon cf-xmr mt-2"></span></div>
                                <div class="media-body align-self-center pl-3">
                                    <span class="mb-0 h6 font-w-600">Monero</span><br>
                                    <p class="mb-0 font-w-500 h6">$64.52</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-lg-8  mt-3">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <app-map-dash></app-map-dash>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="card-title">Visitors by Browser</h6>
                    </div>
                    <div class="card-content">
                        <div class="card-body p-0">
                            <ul class="list-group list-unstyled">
                                <li class="p-4 border-bottom">
                                    <div class="w-100">
                                        <a href="#"><img src="assets/images/chrome.png" alt="" class="img-fluid ml-0 mb-2  rounded-circle" width="20"></a>
                                        <div class="barfiller h-7 rounded" id="barfiller4" data-color="#1ee0ac">
                                            <div class="tipWrap">
                                                <span class="tip rounded success">
                                                <span class="tip-arrow"></span>
                                                </span>
                                            </div>
                                            <span class="fill" data-percentage="78"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-4 border-bottom">
                                    <div class="w-100">
                                        <a href="#"><img src="assets/images/firefox.png" alt="" class="img-fluid ml-0 mb-2  rounded-circle" width="20"></a>
                                        <div class="barfiller h-7" id="barfiller5" data-color="#ffc107">
                                            <div class="tipWrap">
                                                <span class="tip rounded warning">
                                                <span class="tip-arrow"></span>
                                                </span>
                                            </div>
                                            <span class="fill" data-percentage="45"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-4 border-bottom">
                                    <div class="w-100">
                                        <a href="#"><img src="assets/images/internet_explorer.png" alt="" class="img-fluid ml-0 mb-2  rounded-circle" width="20"></a>
                                        <div class="barfiller h-7" id="barfiller6" data-color="#17a2b8">
                                            <div class="tipWrap">
                                                <span class="tip rounded info">
                                                <span class="tip-arrow"></span>
                                                </span>
                                            </div>
                                            <span class="fill" data-percentage="56"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="p-4 border-bottom">
                                    <div class="w-100">
                                        <a href="#"><img src="assets/images/opera.png" alt="" class="img-fluid ml-0 mb-2  rounded-circle" width="20"></a>
                                        <div class="barfiller h-7" id="barfiller7" data-color="#f64e60">
                                            <div class="tipWrap">
                                                <span class="tip rounded danger">
                                                <span class="tip-arrow"></span>
                                                </span>
                                            </div>
                                            <span class="fill" data-percentage="23"></span>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 mt-3">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <h6 class="card-title">Mixed Chart</h6>
                    </div>
                    <div class="card-body text-center">
                        <div id="apex_mixed_chart" class="height-500"></div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12 mt-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="card-title">Mixed Chart</h6>
                </div>
                <div class="card">
                    <div style="height: 500px;" id="chartdiv"></div>
                </div>

            </div>

            <div class="col-12 col-md-12 mt-3">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h6 class="card-title">Gantt Chart</h6>
                </div>
                <div class="card">
                    <div style="height: 500px;" id="chartdiv2"></div>
                </div>

            </div>
            <div class="col-12  col-lg-12 mt-3">
                <app-table-dash></app-table-dash>
            </div>


        </div>
        <!-- END: Card DATA-->
    </div>
</main>