<div class="input-container">
    <i class="fa fa-map-marker icon start"></i>
    <input class="input-field" type="text" placeholder="เริ่มต้น" name="start">
</div>

<div class="input-container">
    <i class="fa fa-map-marker icon end"></i>
    <input class="input-field" type="text" placeholder="สิ้นสุด" name="end">
</div>

<button class="btn btn-light" style="border-radius: 34px; color :darkblue;">ค้นหาเส้นทาง</button>
<button class="btn btn-light" style="border-radius: 34px; color :darkblue;">ลบเส้นทาง</button>