@import url("https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css");
.map-container {
    height: 100%;
    position: relative;
    z-index: 1;
    left: 0px;
    transition: all 0.5s ease;
}

#map {
    width: 100%;
    height: calc(100vh - 70px);
}

.overlay-search {
    position: fixed;
    top: 80px;
    left: 5%;
    max-width: 950px;
    z-index: 1;
    width: 80%;
}

.overlay-drag-info {
    position: absolute;
    top: 110px;
    left: 110px;
    width: auto;
    z-index: 500;
}

.overlay-drag-info-right {
    position: absolute;
    top: 0px;
    right: 110px;
    width: auto;
    z-index: 500;
}

.overlay-btn-draw {
    position: absolute;
    top: 90px;
    right: 22px;
    text-shadow: 0 0 4px black;
    background-color: rgba(68, 65, 65, 0.84);
    transform: scale(.6, .6);
    border-radius: 34px;
    transform-origin: right;
    z-index: 6;
}

.overlay-btn-amphore {
    position: absolute;
    top: 125px;
    right: 22px;
    text-shadow: 0 0 4px black;
    background-color: rgba(68, 65, 65, 0.84);
    transform: scale(.6, .6);
    border-radius: 34px;
    transform-origin: right;
    z-index: 6;
}

.overlay-btn-tambol {
    position: absolute;
    top: 160px;
    right: 22px;
    text-shadow: 0 0 4px black;
    background-color: rgba(68, 65, 65, 0.84);
    transform: scale(.6, .6);
    border-radius: 34px;
    transform-origin: right;
    z-index: 6;
}

.overlay-btn-showmenu {
    position: absolute;
    top: 195px;
    right: 22px;
    text-shadow: 0 0 4px black;
    background-color: rgba(68, 65, 65, 0.84);
    transform: scale(.6, .6);
    border-radius: 34px;
    transform-origin: right;
    z-index: 6;
}