<div cdkDrag class="drag-box-2"  style="display: none; ">
    <div class="header " cdkDragHandle>
        <button (click)="closeBtn() " class="help-panel-header__close-button col-2 " aria-label="ปิดแผงความช่วยเหลือ " data-stats-ignore=" "><svg class="help-panel-header__close-icon " viewBox="0 0 48 48 "><path d="M38 12.83L35.17 10 24 21.17 12.83
    10 10 12.83 21.17 24 10 35.17 12.83 38 24 26.83 35.17 38 38 35.17 26.83 24z "></path></svg></button>
    </div>
    <div class="box-card"  >

       
<section >
  <div class="container py-3">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">

        <div id="wrapper-bg" class="card text-white bg-image shadow-4-strong"
          style="background-image: url('https://mdbgo.io/ascensus/mdb-advanced/img/clouds.gif');   height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
          <!-- Main current data -->
          <div class="card-header p-4 border-0">
            <div class="text-center mb-3">
              <p class="h2 mb-1" id="wrapper-name"></p>
              <p class="mb-1" id="wrapper-description"></p>
              <p class="display-1 mb-1" id="wrapper-temp"></p>
              <span class="">Pressure: <span id="wrapper-pressure"></span></span>
              <span class="mx-2">|</span>
              <span class="">Humidity: <span id="wrapper-humidity"></span></span>
            </div>
          </div>

          <!-- Hourly forecast -->
          <div class="card-body p-4 border-top border-bottom mb-2 testimonial-group">
            <div class="row text-center" style="overflow-x: auto">
              <div class="col-2">
                <strong class="d-block mb-2">Now</strong>
                <img id="wrapper-icon-hour-now" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour-now"></strong>
              </div>
              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time1"></strong>
                <img id="wrapper-icon-hour1" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour1"></strong>
              </div>

              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time2"></strong>
                <img id="wrapper-icon-hour2" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour2"></strong>
              </div>

              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time3"></strong>
                <img id="wrapper-icon-hour3" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour3"></strong>
              </div>

              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time4"></strong>
                <img id="wrapper-icon-hour4" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour4"></strong>
              </div>

              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time5"></strong>
                <img id="wrapper-icon-hour5" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour5"></strong>
              </div>
                <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time6"></strong>
                <img id="wrapper-icon-hour6" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour6"></strong>
              </div>

              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time7"></strong>
                <img id="wrapper-icon-hour7" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour7"></strong>
              </div>

              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time8"></strong>
                <img id="wrapper-icon-hour8" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour8"></strong>
              </div>

              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time9"></strong>
                <img id="wrapper-icon-hour9" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour9"></strong>
              </div>

              <div class="col-2">
                <strong class="d-block mb-2" id="wrapper-time10"></strong>
                <img id="wrapper-icon-hour10" src="" class="" alt="" />
                <strong class="d-block" id="wrapper-hour10"></strong>
              </div>
              
            </div>
          </div>

          <!-- Daily forecast -->
          <div class="card-body px-5" >
            <div class="row align-items-center">
              <div class="col-lg-6">
                <strong>Today</strong>
              </div>

              <div class="col-lg-2 text-center">
                <img id="wrapper-icon-today" src="" class="w-100" alt="" />
              </div>

              <div class="col-lg-4 text-end">
                <span id="wrapper-forecast-temp-today"></span>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-lg-6">
                <strong>Tomorrow</strong>
              </div>

              <div class="col-lg-2 text-center">
                <img id="wrapper-icon-tomorrow" src="" class="w-100" alt="" />
              </div>

              <div class="col-lg-4 text-end">
                <span id="wrapper-forecast-temp-tomorrow">28</span>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-lg-6">
                <strong>Day after tomorrow</strong>
              </div>

              <div class="col-lg-2 text-center">
                <img id="wrapper-icon-dAT" src="" class="w-100" alt="" />
              </div>

              <div class="col-lg-4 text-end">
                <span id="wrapper-forecast-temp-dAT">28</span>
              </div>
            </div>

            <div class="row align-items-center">
              <div class="col-lg-6">
                <strong>Tree days after</strong>
              </div>

              <div class="col-lg-2 text-center">
                <img id="wrapper-icon-tda" src="" class="w-100" alt="" />
              </div>

              <div class="col-lg-4 text-end">
                <span id="wrapper-forecast-temp-tda">28</span>
              </div>
            </div>

            
            <div class="row align-items-center">
              <div class="col-lg-6">
                <strong>Four days after</strong>
              </div>

              <div class="col-lg-2 text-center">
                <img id="wrapper-icon-fda" src="" class="w-100" alt="" />
              </div>

              <div class="col-lg-4 text-end">
                <span id="wrapper-forecast-temp-fda">28</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</section>
</div>
</div>